
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Spotify Sentiment Analysis</title>
  
  <link href="https://sp-bootstrap.global.ssl.fastly.net/8.0.0/sp-bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="static/css/spotify_style.css">
  <link rel="icon" href="//www.scdn.co/i/_global/favicon.png">

</head>

<body>
  <header>
    <h1>Spotify Sentiment Analysis</h1>
    <br>
    <p>Learn more about the sentiment of your favourite tracks.</p>
    <p>To access these values, we use the <a href="https://developer.spotify.com/web-api/">Spotify API</a>.</p>
    <p>We do not store any of your personal information (e.g. how you pay for your Spotify). But to limit the number of API calls we make, we securely store the name and the 
      artist of your favourite songs, as well as your Spotify user ID.</p>
    <br>
  </header>
  <main>
    <h4>Log in to check out the sentiment of your tracks.</h4>
    <br>
    <a href="/spotify_auth" class="btn btn-sm btn-primary">Log In With Spotify</a>
  </main>

</body>

</html>