
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Spotify Sentiment Analysis</title>
  
  <link href="https://sp-bootstrap.global.ssl.fastly.net/8.0.0/sp-bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="static/css/spotify_style.css">
  <link rel="icon" href="//www.scdn.co/i/_global/favicon.png">

</head>

<body>
  <header>
    <h1>Welcome</h1>
    <table>
      {% for info in information %}
         <tr>
              <th> {{ info['name'] }} </th>
              <td> {{ info['averages'] }} </td>
         </tr>
      {% endfor %}
    </table>
    <p>{{information}}</p>
  </header>

</body>

</html>